<div class="row">
  <!-- Left Side -->
  <div class="col-8">
    <div class="card">
      <div class="card-header bg-success text-center">
        <h6>Employee List</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr. No</th>
                  <th>Name</th>
                  <th>Date of Birth</th>
                  <th>Gender</th>
                  <!-- <th>Email</th> -->
                  <th>Phone</th>
                  <!-- <th>Address</th> -->
                  <th>City</th>
                  <th>State</th>
                  <th>Pin Code</th>
                  <th>Department</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                @for (item of employeeList; track $index) {
                <tr>
                  <td>{{$index+1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.dob}}</td>
                  <td>{{item.gender}}</td>
                  <!-- <td>{{item.email}}</td> -->
                  <td>{{item.phone}}</td>
                  <!-- <td>{{item.address}}</td> -->
                  <td>{{item.city}}</td>
                  <td>{{item.state}}</td>
                  <td>{{item.pinCode}}</td>
                  <td>{{item.department}}</td>
                  <td class="d-flex px-2 text-center">
                    <button class="action-button" (click)="delete(item.empId)"><i class="fa-solid fa-trash" style="color: #B197FC;"></i></button>
                    <button class="action-button" (click)="edit(item)"><i class="fa-solid fa-pen-to-square" style="color: #B197FC;"></i></button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Right Side -->
  <div class="col-4">
    <div class="card">
      <div class="card-header bg-success text-center">
        <h6>Employee Form</h6>
      </div>
      <div class="card-body">
        <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-12 mt-2">
              <label for="name">Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
            <div class="col-6 mt-2">
              <label for="dob">Date of Birth</label>
              <input type="date" class="form-control" formControlName="dob">
            </div>
            <div class="col-6 mt-2">
              <label for="gender" class="mb-2">Gender</label><br>
              <input type="radio" class="form-check-input" name="gender" value="Male" formControlName="gender"> Male
              <input type="radio" class="form-check-input" name="gender" value="Female" formControlName="gender"> Female
              <input type="radio" class="form-check-input" name="gender" value="Other" formControlName="gender"> Other
            </div>
            <div class="col-6 mt-2">
              <label for="email">Email</label>
              <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="col-6 mt-2">
              <label for="phone">Phone</label>
              <input type="text" class="form-control" formControlName="phone" maxlength="10">
            </div>
            <div class="col-6 mt-2">
              <label for="city">City</label>
              <input type="text" class="form-control" formControlName="city">
            </div>
            <div class="col-6 mt-2">
              <label for="state">State</label>
              <input type="text" class="form-control" formControlName="state">
            </div>
            <div class="col-6 mt-2">
              <label for="pinCode">Pin Code</label>
              <input type="text" class="form-control" formControlName="pinCode">
            </div>
            <div class="col-6 mt-2">
              <label for="department">Department</label>
              <select class="form-control" formControlName="department">
                <option value="" disabled selected>Select Department</option>
                <option value="RND">RND</option>
                <option value="QA">QA</option>
                <option value="BDE">BDE</option>
                <option value="BA">BA</option>
                <option value="SDE">SDE</option>
                <option value="HR">HR</option>
                <option value="ADMIN">ADMIN</option>
              </select>
            </div>
            <div class="col-12 mt-2">
              <label for="address">Address</label>
              <textarea id="address" name="address" class="form-control" formControlName="address" rows="2"></textarea>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6 text-center">
              <button type="reset" class="btn btn-secondary">Reset</button>
            </div>
            <div class="col-6 text-center">
              <button type="submit" class="btn btn-success" [disabled]="employeeForm.invalid">Save Employee</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>